<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        </ng-template>

        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="gifts" [rows]="10" [columns]="cols" [paginator]="true"
        [globalFilterFields]="['name']"
        [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Manage Gifts</h5>
                <!-- <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')"
                        placeholder="Search..." />
                </p-iconfield> -->
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th></th>
                <th style="min-width: 16rem">Code</th>
                <th pSortableColumn="name" style="min-width:16rem">
                    Name
                    <p-sortIcon field="name" />
                </th>
                <th>Image</th>
                <th pSortableColumn="price" style="min-width: 8rem">
                    Price
                    <p-sortIcon field="price" />
                </th>
                <th>Donor</th>
                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-gift>
            <tr>
                <td style="width: 3rem">
                </td>
                <td style="min-width: 12rem">{{ gift.giftId }}</td>
                <td style="min-width: 16rem">{{ gift.name }}</td>
                <td>
                    <img [src]="gift.imageUrl" style="width: 64px" class="rounded" />
                </td>
                <td >{{ gift.price | currency: 'ILS' }}</td>
                <td>{{ gift.donor }}</td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" severity="success" [rounded]="true" [outlined]="true"
                        (click)="editGift(gift)" />
                    <p-button icon="pi pi-trash"  [rounded]="true" severity="danger" [outlined]="true"
                        (click)="deleteGift(gift)" />
                        
                </td>

            </tr>
        </ng-template>
        <ng-template #summary>
            <div class="flex items-center justify-between">In total there are {{ gifts ? gifts.length : 0 }} gifts.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true">
        <ng-template #content>
            <div class="flex flex-col gap-6">
                <img [src]=gift.imageUrl style="width:60%;margin-left:11vh; ">

                <div>
                    <label for="name" class="block font-bold mb-3">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="gift.name" required  fluid />
                    <small class="text-red-500" *ngIf="submitted && !gift.name">Name is required.</small>
                </div>
                <div>
                    <label for="imageUrl" class="block font-bold mb-3">image url</label>
                    <input type="text" pInputText id="imageUrl" [(ngModel)]="gift.imageUrl" required  fluid />
                </div>
                <div>
                    <label for="donor"  class="block font-bold mb-3">donor</label>
                    <div class="card flex justify-center">
                         <select [(ngModel)]="gift.donor" pSelect placeholder="Select a donor" class="form-control w-full md:w-56"> 
                        @for(d of donorsNames;track $index){
                            <option >{{d}}</option>
                        }
                    </select> 
    
                    </div>
                    <small class="text-red-500" *ngIf="submitted && !gift.donor">Donor is required.</small>
                </div>
                    <div class="col-span-6">
                        <label for="price" class="block font-bold mb-3">Price</label>
                        <p-inputnumber id="price" [(ngModel)]="gift.price"  mode="currency" currency="USD" locale="en-US" fluid
                        />
                        <small class="text-red-500" *ngIf="submitted && !gift.price">Price is required.</small>
                    </div>
            </div>
        </ng-template>

        <ng-template #footer>
            <div>{{message}}</div>
            <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Save" icon="pi pi-check" (click)="saveGifts()" />
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />


</div>
